---
import BaseLayout from "../layouts/base-layout.astro";
import Card from "../components/card.astro";
const posts = await Astro.glob('../pages/*.md');
---
<BaseLayout title="Home">
    <div class="max-w-4xl mx-auto px-4 md:px-6 sm:px-4 xs:px-6 lg:px-0 xl:px-0 py-14 text-zinc-700">

      
      <div class="text-lg text-center text-zinc-500">
        <p>Website created by David Jaimes and powered by</p>
        <div class="flex justify-center pt-4 pb-16">
          <img class="h-10 w-48" alt="Google Domains Logo" src="https://www.gstatic.com/images/branding/lockups/svg/lockup_google_domains_867x140px_clr.svg">
          <img class="h-10 w-40" alt="Gatsby Logo" src="Gatsby_Logo.svg">
          <img class="h-10 w-38" alt="Github Logo" src="GitHub_Logo.png">
        </div>
      </div>

      {posts.map(post=> (
        <div class="flex justify-center">
            <Card title={post.frontmatter.title} path={post.url} image={post.frontmatter.image} date={post.frontmatter.date}></Card>
        </div>
      ))}
	</div>
</BaseLayout>