---
import Icon from "./icon.astro";
---

<footer class="p-4 bg-[#0d1117] md:px-6 md:py-8 bottom-0 w-full">
    <hr class="my-6 border-gray-300 sm:mx-auto lg:my-8 max-w-4xl" />
    <div class="sm:flex sm:items-center sm:justify-between max-w-4xl mx-auto">
        <a href="/" class="flex items-center mb-4 sm:mb-0 pt-4">
            <Icon pathfill="#b1bac4"></Icon>
            <span class="self-center text-lg font-light whitespace-nowrap text-[#b1bac4]">davidjaimes.com</span>
        </a>
        <ul class="flex flex-wrap items-center mt-4 mb-4 text-sm text-[#b1bac4] sm:mb-0">
            <li>
                <a href="/search" class="mr-4 hover:underline md:mr-6 text-sky-500">Search</a>
            </li>
            <li>
                <a href="/about" class="mr-4 hover:underline md:mr-6 text-sky-500">About</a>
            </li>
            <li>
                <a href="https://github.com/davidjaimes" class="mr-4 hover:underline md:mr-6 text-sky-500">Github</a>
            </li>
            <li>
                <a href="https://instagram.com/davidjaimes__" class="mr-4 hover:underline md:mr-6 text-sky-500">Instagram</a>
            </li>
            <li>
                <a href="https://twitter.com/_davidjaimes" class="mr-4 hover:underline md:mr-6 text-sky-500">Twitter</a>
            </li>
            <li>
                <a href="/terms" class="mr-4 hover:underline md:mr-6 text-sky-500">Terms of Use</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 mt-10 border-gray-300 sm:mx-auto lg:my-10 max-w-4xl" />
    <span class="block text-sm text-[#b1bac4] sm:text-center">© 2023 <a href="/" class="hover:underline">David Jaimes</a>. All Rights Reserved.
    </span>
    <span class="block text-sm text-[#b1bac4] sm:text-center pt-4 pb-4 ">Yo <span class="text-red-400">&hearts;</span> Naxiely</span>
</footer>