---
import Icon from "./icon.astro";
---

<footer class="p-4 bg-[#f5f5f7] md:px-6 md:py-8 bottom-0 w-full">
    <div class="sm:flex sm:items-center sm:justify-between max-w-4xl mx-auto">
        <a href="/" class="flex items-center mb-4 sm:mb-0 pt-4">
            <Icon pathfill="#6e6e73"></Icon>
            <span class="self-center text-lg font-light whitespace-nowrap text-[#6e6e73]">davidjaimes.com</span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-[#6e6e73] sm:mb-0">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-300 sm:mx-auto lg:my-8 max-w-4xl" />
    <span class="block text-sm text-[#6e6e73] sm:text-center">© 2022 <a href="/" class="hover:underline">David Jaimes</a>. All Rights Reserved.
    </span>
    <span class="block text-sm text-[#6e6e73] sm:text-center pt-4 pb-4 ">Yo <span class="text-red-400">&hearts;</span> Naxiely</span>
</footer>